.container {
  margin: 0 auto;
  max-width: 500px;
}

h1{
  font-size: 30px;
  padding-top: 30px;
}

h1, .tagline {
  text-align: center;
}

.tagline{
  font-size: 14px;
  font-weight: bold;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #F9F7F5;
}

.section1 {
  background-color: #FFFFFF;
  width: 500px;
  height: 130px;

}

.insidesection{
  margin-left: 34px;
  margin-right: 34px;
}

.insidesection2{
  margin-right: 34px;
}

.section2 {
  background-color: #FFFFFF;
  max-width:500px;
}

.section3{
  background-color: #FFFFFF;
}

h2{
  font-size: 24px;
  padding-top:38px;
  margin-bottom: 20px;
}

.city-description{
  font-size: 12px;
  margin-left:30px;

}

img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 15px;
}


hr{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #D19A61;
  height: 2px;
  display: block;
}
